target/
test-output/
${project.build.directory}/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.build/reports/tests

### IntelliJ IDEA ###
.idea

### Allure ###
allure-results/
allure-report/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
